@import url('https://fonts.google.com/specimen/Young+Serif');
@import url('https://fonts.google.com/specimen/Outfit');
* {
    padding: 0;
    margin: 0;
}
body {
    background-color: hsl(330, 100%, 98%);
    font-size: 16px;
    max-width: 1440px;
}

img {
    width: 900px;
    height: 450px;
    border-radius: 20px;
}

h1 {
    font-family: "Young Serif", serif;
    font-weight: 400;
}
.menu {
    background-color: white;
    width: 80%;
    margin: 0 auto;
    border-radius: 10px;
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }